exportPattern("^[[:alpha:]]+")

### Imports ####################################################################

## Functions that you use from other packages. Specify in the form:
## importFrom("<pkg>", "<function1>", "<function2>", ...)
importFrom("rootSolve", "multiroot")
importFrom("matrixcalc", "is.singular.matrix")
importFrom("stats", "glm","quantile")

### Exports ####################################################################

## Functions from primesieve that you want to be exported (so that users of
## primesieve see them). All such functions need a corresponding manual page.
export("trme")

